!!!
html(ng-app="atMag", ng-controller='AppCtrl', ng-keyup="keyup($event)")
  head
    meta(charset='utf8')
    base(href='/')
    title מגזין א—ת
    link(rel='stylesheet', href='/css/app.css')
    link(rel="stylesheet", href="http://uberfont.com/DanidinRegular.css")
    link(rel="stylesheet", href="http://uberfont.com/DanidinBold.css")
    link(rel="shortcut icon", href="/img/favicon.ico")
    meta(property="og:title", content="מגזין א—ת")
    meta(property="og:description", content="אותיות עבריות של מעצבים ישראלים")
    meta(property="og:image", content="http://a-t-mag.com/img/letters/א.jpg")
    meta(property="og:site_name", content="מגזין א—ת")
    meta(property="og:type", content="website")
    meta(property="og:url", content="http://a-t-mag.com")
    meta(name="title", content="מגזין א—ת")
    meta(name="description", content="אותיות עבריות של מעצבים ישראלים")
    meta(name="keywords", content="מגזין את, את, אותיות בעברית, פונטים בעברית, פונט בעברית")

  body
    block body